html,body{
    margin:  0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: lightgray;
    background-color: black;
}
.navigation{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
}


h2{
    color: red;
    background: white;
    border-radius: 20PX;
    width: 50%;
    justify-items: left;
}
header{
    align-items: center;
    
}
h3{
    color: blueviolet;
}